<!DOCTYPE html>
<html data-bs-theme="light" lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>플래닛 로그인</title>


</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
                <div class="card-3d-wrap mx-auto">
                    <div class="card-3d-wrapper">
                        <div class="card-front2">
                            <div class="center-wrap">
                                <form th:action="@{/member/update}" onsubmit="return validatePassword()" th:method="post" th:object="${memberDTO}">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3" >회원정보수정</h4>
                                        <input type="hidden" name="memNum" th:value="${memberDTO.getMemNum()}">
                                        <div class="form-group mt-2">
                                            <span>아이디 :　　</span>
                                            <input type="text" id="memId" name="memId" class="form-style2" th:value="${memberDTO.getMemId()}" readonly>
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            패스워드 변경 <br>
                                            <input type="password" name="memPwd" id="memPwd"  class="form-style" placeholder="패스워드를 입력하세요" autocomplete="off">
                                            <p th:if="${#fields.hasErrors('memPwd')}" th:errors="*{memPwd}"></p>
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input type="password" name="memPwd2" id="memPwd2" class="form-style" placeholder="패스워드를 재입력하세요" autocomplete="off">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <div id="mismatch" class="alert alert-danger" style="display:none;">비밀번호가 일치하지 않습니다.</div>
                                        <div class="form-group">
                                            <span>이름 :　　</span>
                                            <input type="text" name="memName" class="form-style2"  th:value="*{memName}">
                                            <p th:if="${#fields.hasErrors('memName')}" th:errors="*{memName}"></p>
                                            <i class="input-icon uil uil-user"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <span>전화번호 :　　</span>
                                            <input type="text" name="memTel" class="form-style2"  th:value="*{memTel}" autocomplete="off">
                                            <p th:if="${#fields.hasErrors('memTel')}" th:errors="*{memTel}"></p>
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input type="text" th:value="${memberDTO.getMemZipcode()}" class="form-style mb-2" id="zipp_code_id" name="memZipcode" maxlength="10" placeholder="우편번호" style="width: 10%; display: inline;">
                                            <input type="button" id="zipp_btn" class="btn btn-primary" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
                                            <input type="text" class="form-style mb-2" name="memAd1" id="UserAdd1" maxlength="40" placeholder="기본 주소를 입력하세요" th:value="${memberDTO.getMemAd1()}" required>
                                            <div class="invalid-feedback">주소를 입력해주시기 바랍니다!</div>
                                            <input type="text" class="form-style" name="memAd2" id="UserAdd2" maxlength="40" th:value="${memberDTO.getMemAd2}" placeholder="상세 주소를 입력하세요">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="memAge" class="form-style" placeholder="생년월일을 입력하세요"  autocomplete="off" th:value="${session.memAge}">
                                            <i class="input-icon uil uil-user"></i>
                                        </div>
                                        <div class="mb-3 mt-3">
                                            <label>
                                                <select name="roleType" th:field="${memberDTO.roleType}">
                                                    <option value="">회원 권한</option>
                                                    <option value="USER" th:value="USER">USER</option>
                                                    <option value="MANAGER" th:value="MANAGER">MANAGER</option>
                                                    <option value="ADMIN" th:value="ADMIN">ADMIN</option>
                                                    <!-- 필요한 다른 권한을 추가할 수 있습니다 -->
                                                </select>
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-4">회원수정완료</button> <a th:href="@{/}" class="btn btn-secondary mt-4">취소</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- CDN 방식 사용 -->
    <script>
        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업을 통한 검색 결과 항목 클릭 시 실행
                    var addr = ''; // 주소_결과값이 없을 경우 공백
                    var extraAddr = ''; // 참고항목

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 도로명 주소를 선택
                        addr = data.roadAddress;
                    } else { // 지번 주소를 선택
                        addr = data.jibunAddress;
                    }

                    if(data.userSelectedType === 'R'){
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                    } else {
                        document.getElementById("UserAdd1").value = '';
                    }

                    // 선택된 우편번호와 주소 정보를 input 박스에 넣는다.
                    document.getElementById('zipp_code_id').value = data.zonecode;
                    document.getElementById("UserAdd1").value = addr;
                    document.getElementById("UserAdd1").value += extraAddr;
                    document.getElementById("UserAdd2").focus(); // 우편번호 + 주소 입력이 완료되었음으로 상세주소로 포커스 이동
                }
            }).open();
        }
    </script>

    <script th:inline="javascript">
        function validatePassword() {

            var password = document.getElementById("memPwd").value;
            var password2 = document.getElementById("memPwd2").value;

            if(password !== password2) {
                document.getElementById("mismatch").style.display="block";
                return false;
            }

            return true;
        }
    </script>




</div>


</body>

</html>