<!DOCTYPE html>
<html data-bs-theme="light" lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<div th:fragment="footer">
<footer class="bg-primary-gradient">
  <div class="container py-4 py-lg-5">
    <div class="row justify-content-center">
    <hr>
      <div class="img-center pt-3" style="display: flex; align-items: center;">
        <svg class="mb-0">
          <img src="/assets/img/planet/smalllogo.png" alt="작은별" width="100" height="auto">
        </svg>
        <span>Planet</span>
        <p class="mb-0">
          <img src="/assets/img/planet/footerlogo.png" class="mb-0" width="1500" height="100">
        </p>
      </div>
    </div>
  </div>
</footer>
</div>

</body>
</html>