<!DOCTYPE html>
<html data-bs-theme="light" lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>

</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <h1>Planet 소개</h1>
    안녕하세요 보드게임 모임 플래닛입니다!<br>
    주 활동지역은 신중동역 & 부천역이며, 보드게임을 메인 주제로 하고 있습니다.<br>
    <br>
    보드게임 고인물 / 보린이 여기여기 모여라!<br>
    친목위주 보드게임 모임이 없어서 우리가 만들었따😆<br>
    <br>
    보드게임 말고도 다른 주제로 벙 오픈가능!<br>
    소소한 일상, 취미, 운동, 여행 등<br>
    <br>
    혹은 아무 이유없이 동네친구가 필요하다면?<br>
    일단 만나서 보드게임 한판 해봐요!<br>
    <br>
    커플, 부부끼리도 가입가능💖<br>



    🫧플래닛 가입조건🫧

    🪐나이 : 1988년부터 2002년 (빠른, 만나이 없음) <br>
    🪐거주지역 : 부천 전지역<br>
    🪐이성 만남이 가입 이유이신 분은 정중히 사양합니다<br>
    🪐기본적인 매너와 친절 겸비하신 분<br>
    🪐술벙때 술강요하는 분 정중히 사양합니다<br>
    🪐보드게임 하다가 싸우시는분 사양합니다<br>
    🪐소모임프리미엄권 및 이벤트 자금을 위해<br>
    월 회비 2천원씩 납부받고 있습니다.<br>
    🪐대부분 취침시간인 0시~8시 가입은 자제해주세요<br>



    🫧플래닛 가입제한🫧<br>
    <br>
    ✂️타모임 우리모임 포함해서 3개까지<br>
    동종모임 2개이하까지만 가능<br>
    ✂️예의가 없으신 분<br>
    ✂️말을 험하게 하시는 분<br>
    ✂️과한친목 여미새 남미새<br>
    ✂️본인이 하고싶은 보드게임 강요 안됩니다<br>
    ✂️영업 및 포교활동 하시는분<br>
    </div>
</div>


</body>

</html>